.page_row {
    display: flex;
    flex-wrap: wrap;
}

.main_area {
    margin-top: 8em;
}

.column {
    flex-basis: 100%;
}

/* mobile search */
.search__mobile--bar {
    width: 100%;
    position: absolute;
    top: 4em;
    list-style: none;
    padding: 20px 10px 10px 10px;
    background-color: #232323;
}

.search__inactive {
    display: none;
}

.mobile__search {
    position: relative;
}

.mobile__search a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: white;
    padding: 10px;
}

/* mobile menu */

/* Main Content */

.logo--mobile {
    display: none;
    top: 4em;
    position: absolute;
}


/* media queries  Full-responsive*/

@media only screen and (max-width: 1260px) {
    .website_nav__search {
        display: none !important;
    }

    .website_nav li.search__bar--mobile {
        display: inline-block;
    }
}

@media only screen and (max-width: 1140px) {

    .website_nav__pages {
        display: none;
    }

    .sidebar__nav {
        width: 100%;
    }

    .website_nav__links img {
        max-width: 150px;
    }

    .search__mobile--bar {
        top: 3em;
    }

    .search__bar--mobile {
        display: block;
    }

    .img_container {
        max-width: 250px;
    }

    .main_area {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .website_nav__search {
        display: none !important;
    }
}

@media only screen and (max-width: 800px) {

    .logo--mobile img {
        max-width: 150px;
    }
}

@media only screen and (max-width: 585px) {

    .logo--mobile {
        display: block;
        padding-left: 1em;
        margin-top: 1em;
    }

    .page_container {
        padding: 0;
    }

    .search__mobile--bar {
        top: 3em;
    }

    .mobile_icons li {
        padding: 0 10px;
    }

    .website_nav__language {
        display: none !important;
    }

    .website_nav__icons {
        padding: 0 25%;
        font-size: 1.2rem;
    }

    .website_nav__links img {
        display: none;
    }

    .ticket_area__title {
        font-size: 24px;
    }

    .area_header__sales {
        font-size: 14px;
    }
}

@media only screen and (max-width: 330px) {
    .sm--mb--1 {
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }

    .sidebar {
        flex: 3;
    }

    .ticket_area {
        flex: 9;
    }

    .ticket__column--six {
        flex: 6;
    }

    .ticket__column--two {
        flex: 2;
    }

    .ticket__column--one {
        flex: 1;
    }

    .ticket__column--zero {
        flex: 0;
    }
}
